h1 {
  color: rgb(185, 136, 231);
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

p {
  text-align: center;
  margin: 20px;
  color: rgb(102, 236, 102);
}

.postPara {
  text-align: left;
}

html {
  background-color: black;
}

footer {
  color: cyan;
  text-align: center;
}

button {
  background-color: #7c3aed;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2 ease;
  text-align: center;
  margin: auto;
}

button:hover {
  background-color: #6d28d9;
}

h2 {
  text-align: center;
  color: rgb(107, 225, 225);
  font-weight: bold;
}

details {
  color: rgb(90, 219, 176);
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
}

label {
  display: flex;
  flex-direction: column;
  color: rgb(11, 232, 154);
  gap: 10px;
}

/* form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
  align-self: center;
} */

input {
  /* color: black;
  padding: 10px; */
  border: yellowgreen;
  color: white;
}

figcaption {
  color: white;
  font-weight: bold;
}

img {
  height: 400px;
  width: 500px;
}

.imgTag {
  /* height: 550px;
  width: 500px;
  padding: 10px; */
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 6px;
  margin-top: 10px;
}

output {
  color: rgb(11, 232, 154);
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: self-start;
}

/* a {
  color: rgb(6, 240, 158);
  background-color: #a88adb;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
} */

nav {
  /* display: flex;
  background-color: #a88adb;
  padding: 10px;
  justify-content: center; */
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

details {
  color: rgb(90, 219, 176);
  font-family: sans-serif;
}

summary {
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  outline: none;
}

details,
figure {
  background: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

details:hover,
figure:hover {
  transform: translateY(-2px);
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 15px 0;
}
